!!!
%html
  %head
    %title= @landing.name
    / = csrf_meta_tags
    / = stylesheet_link_tag    "#{@landing.css_file}", media: 'all'
    / = javascript_include_tag "#{@landing.js_file}",
  %body
    = raw @landing.code
  
  
