%a{:href => "https://lbbleonlinks.xyz/aff/ln/ru/72695116", :target => "_blank"}
  %img{:alt => "Букмекерская контора \"ЛЕОН\" - ставки на спорт", :border => "0", :src => "https://lbaddsbgifs.net/adv/ln/ru/240x400_mobile.gif?t=115"}/

/ .list-group
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Lorem ipsum", admin_root_path, class: "list-group-item", active: :exclusive

