%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Bablo
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        / = active_link_to "Рейтинг букмекеров", rating_path, :wrap_tag => "li"
        - @top_items.each do |item|
          = active_link_to item.name, short_link_path(item), active: :exclusive, :wrap_tag => "li"

      %ul.nav.navbar-nav.navbar-right
        / = active_link_to "Мои ставки", bets_path, active: :exclusive, :wrap_tag => "li"
        - if signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li
                = link_to "Выйти", destroy_user_session_path, :method => :delete
    / /.navbar-collapse
  / /.container-fluid