=  provide(:title, @item.name )


:scss
  .jumbotron {
    background-image: url("/leon.jpg");
    min-height: 250px;
  }

.jumbotron
  %h1= @item.name
  
.container-fluid
  %p
    = raw @item.description
    / = Forgery(:lorem_ipsum).words(2000)
