/ .list-group
/   = active_link_to "Информация", admin_root_path, class: "list-group-item", active: :exclusive
/   / = active_link_to "Items", admin_items_path, class: "list-group-item", active: :exclusive
/   = active_link_to "Категории", admin_categories_path, class: "list-group-item", active: :exclusive

