.board-body {
	background-color: #E5E5E5;
}

.content {
	background-color: #ffffff;
	-webkit-box-shadow: 32px -9px 52px -34px rgba(0,0,0,0.75);
	-moz-box-shadow: 32px -9px 52px -34px rgba(0,0,0,0.75);
	box-shadow: 32px -9px 52px -34px rgba(0,0,0,0.75);
	width: 90%;
	padding-left: 200px;
	padding-bottom: 50px;
}

.menu {
	width: 200px;
	position: fixed;
	background-color: #222222;
	height: 900px;
	padding: 10px;
	.nav-stacked li a {
		font-family: 'PT Sans Caption', sans-serif;
		font-weight: bold;
		padding: 3px;
		color: #fafafa;
		&:hover {
			color: #ffffff;
			opacity: 0.7;
			background-color: #222222;
		}
	}
	.gray-stacked li a {
		font-family: 'PT Sans Caption', sans-serif;
		font-weight: bold;
		padding: 3px;
		color: #fafafa;
		opacity: 0.2;
		&:hover {
			color: #ffffff;
			opacity: 0.7;
			background-color: #222222;
		}
	}
}


.pt-25 {
	padding-top: 25px;
}


.news_card {
	margin-bottom: 5px;
	background-color: #fafafa;
	.news_card_image {
		img {
			width: 100%;
		}
	}
	.news_card_body {
		padding: 15px;
	}

	.news_card_title {
		font-size: 28px;
	}


	.news_card_description {
		font-size: 13px;
        font-family: 'PT Sans Caption', sans-serif;
	}
}

