.navbar-brand {
	color: #fff !important; 
}

.navbar-default {
  background-color: #22313F !important;
  border-color: #22313F !important;
  li a {
  	color: #fff !important;
  }

  li.active a {
  	color: black !important;
  }


}


.jumbotron {
	h1 {
	    font-family: 'PT Sans Caption', sans-serif;
	    font-weight: bold;
	    font-size: 24px;
		color: #333333;
		background-color: #ffffff;
		width: 500px;
		padding: 15px;
	}
}


.btn-circle {
	border-radius: 100px !important;
}

