.navbar-brand {
	color: #fff !important; 
}

.navbar-default {
  background-color: #22313F !important;
  border-color: #22313F !important;
  li a {
  	color: #fff !important;
  }

  li.active a {
  	color: black !important;
  }


}




